#background{
  background: #E9EBEE;
}
p{
  font-family: inherit;
}
#my-nav{
  color: white;
  background-color: #4267b2;
  min-height: 10px;
}
#brand{
  color: white;
}
#my-nav a{
  color: white !important;
}
.added-width{
  min-width: 400px;
  max-height:25px;
  margin-left: -30px;
}
.btn-default{
  max-height: 25px;
}
.margin{
  margin-top: -5px;
}
.name-nav{
  margin-top: -5px;
}
#darkercolor span {
  color: black;
  font-size: 20px;
  margin-top: -5px;
}
#facebook-icon{
  margin-left: 50px;
  font-size: 25px;
  margin-top: -2px;
}
.pull-right{
  float: right !important;
}
.list-heading{
  padding: 20px 15px 0px 15px;
}

.side-bar{
  background-color: #E9EBEE;
  margin-left: -50px;
  margin-top: -10px;
}
.fa{
  margin-right: 10px;
  font-size: 30px;
}
img{
  height: 20px;
  width:20px;
  margin-right: 10px;
}
.photo{
  border-radius: 50%;
}
.material-icons{
  font-size: 20px;
  color: #0D1325;
}
.color{
  color:red;
  margin-left: -5px;
}
.colour{
  color:red;
}
.footer{
  height: 42px;
  margin-top: 10px;
  background-color: #0f0f0f;
}

.panel-body .glyphicon{
  margin-left: 10px;
margin-right: 4px;
}
.panel{
  margin-bottom: 5px;
}
.text-post{
  margin-bottom: 15px;
  margin-top: 0px;
}
.image-post{
  margin-bottom: 15px;
}
