body{
  background-color: #E9EBEE;
}
#my-nav{
  color: white;
  background-color: #4267b2;
}
#brand{
  color: white;
}
#my-nav a{
  color: white !important;
}
.added-width{
  min-width: 400px;
}
#darkercolor span {
  color: #0D1325;
  font-size: 20px;
}
.pull-right{
  float: right !important;
}
.footer{
  height: 42px;
  margin-top: 10px;
  background-color: #0f0f0f;
}
