body {
  background-color: #EB9EEE;
}
#my-nav{
  color: white;
  background-color: #4267b2;
}
#brand{
  color: white;
}
#my-nav a{
  color: white !important;
}
.added-width{
  min-width: 400px;
}
#darkercolor span {
  color: #0D1325;
  font-size: 20px;
}
.pull-right{
  float: right !important;
}
.list-heading{
  padding: 20px 15px 0px 15px;
}
.post-section, .ads{
  background-color:white ;
  height: 800px;
}
.fa{
  margin-right: 10px;
}
img{
  height: 15px;
  width:15px;
  margin-right: 10px;
}
.footer{
  height: 42px;
  margin-top: 10px;
  background-color: #0f0f0f;
}
